# config
build/conf/conf-notes.txt
build/conf/templateconf.cfg

# build
build/bitbake.lock
build/cache/
build/downloads/
build/sstate-cache/
build/tmp/
build/workspace


# sources
sources/poky
sources/meta-openembedded
sources/meta-freescale
sources/meta-freescale-distro
sources/meta-arm
sources/meta-imx
sources/meta-virtualization

# logs
*.log

# IDEs
.idea
